@import url("https://fonts.googleapis.com/css2?family=Average+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Lilita+One&display=swap");

.promo {
  margin-bottom: 30px;
  padding: 0px 50px 0px;
}

.promo_content {
  display: flex;
  justify-content: space-between;
}
/* promo_left */
.promo_left {
  width: 50%;
  margin-right: 1%;
}

.promo_left img {
  width: 20%;
}
.promo_left_content {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.for_everyone {
  position: relative;
  width: 100%;
}
.for_everyone img {
  width: 100%;
}
.bold_text {
  position: absolute;
  font-family: "Lilita One";
  font-size: 4vw;
  top: 1.4vw;
  left: 3vw;
  font-weight: bolder;
  line-height: 85%;
  letter-spacing: 0em;
  text-align: left;
}
.bold_text img {
  width: 40%;
}
.description_text {
  position: absolute;
  font-family: "Average Sans";
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 80%;
  letter-spacing: 0.05em;
  text-align: left;
  right: 2.5vw;
  bottom: 3.5vw;
}

.two_card_block {
  margin-top: 1.2vw;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.for_woman {
  position: relative;
  width: 50%;
  height: auto;
  margin-right: 1.2vw;
}
.for_woman img {
  width: 100%;
}
.card_block_text_woman {
  position: absolute;
  font-family: "Lilita One";
  font-size: 3.9vw;
  font-weight: bolder;
  line-height: 3vw;
  letter-spacing: 0em;
  text-align: left;
  bottom: 10px;
  left: 4px;
}
.for_man {
  position: relative;
  width: 50%;
  height: auto;
  margin-left: 1.2vw;
}
.for_man img {
  width: 100%;
}
.card_block_text_man {
  position: absolute;
  font-family: "Lilita One";
  font-size: 3.9vw;
  font-weight: bolder;
  line-height: 3vw;
  letter-spacing: 0em;
  text-align: left;
  top: 10px;
  left: 4px;
}
/* promo-right */
.promo_right {
  width: 50%;
  text-align: left;
  margin-left: 2.2%;
}
.promo_right img {
  width: 100%;
}
.promo_right_content {
  display: flex;
  position: relative;
  justify-content: space-around;
}
.btn_block {
  display: flex;
  position: absolute;
  bottom: 20px;
  margin-bottom: 22px;
  justify-content: center;
  gap: 20px;
}
.btn_learn_more {
  display: flex;
  align-items: center;
  border: solid 1px #000000;
  border-radius: 36px;
  background-color: #fff;
  padding: 1.2vw;
  cursor: pointer;
}
.btn_learn_more img {
  width: 2.8vw;
}
.btn_text {
  font-family: "Average Sans";
  padding-right: 2vw;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  text-transform: uppercase;
}

.btn_shop_now {
  display: flex;
  align-items: center;
  border: solid 1px #000000;
  border-radius: 36px;
  background-color: #fff;
  padding: 1.2vw;
  background-color: #ebffe2;
  cursor: pointer;
}

.btn_shop_now img {
  width: 2.8vw;
}
@media screen and (max-width: 1000px) {
  .btn_block {
    gap: 10px;
  }
}
